In [1]:
import pandas as pd

In [2]:
pd.read_sql("oli_investment.sql")

TypeError: read_sql() missing 1 required positional argument: 'con'